name: CI
permissions:
  contents: read

on:
  push: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup go environment
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: '**/go.sum'

      - name: Test
        run: go test -count=1 -timeout=10s ./...
