name: CI
permissions:
  contents: read

on:
  push: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup go environment
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: '**/go.sum'

      - name: Test
        run: go test -count=1 -timeout=10s ./...
